.sidebar {
  .logo {
    font-weight: 700;
    letter-spacing: -0.025em;
    background: linear-gradient(to right, $primary-color, #f84cae, #c10d73);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  a {
    transition: all 0.2s ease;

    &.active {
      font-weight: 600;

      svg {
        color: $primary-color !important;
      }
    }

    &:hover:not(.active) {
      background-color: #f9fafb;
    }
  }
}
