node_modules
generated
prisma/generated/
node_modules/.prisma
node_modules/@prisma/client
.env
.env.local
.git
.gitignore
.idea
.vscode
coverage
dist
build
*.sqlite
*.db
.prisma/migrations/*
npm-debug.log